<!DOCTYPE html>
<html>
	<head>
		<title>And Then There Were None,here</title>
		<meta charset="UTF-8">
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
		<meta name="viewpoint" content="width=device-width,initial-scale=1.0">
		<meta name="author" content="TsuZero">
		<link rel="stylesheet" href="styles/index-style.css">
	</head>
	<body>
		<article>
		<main>
			<nav id="index">
				<ul>
					<li>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</li>
					<li><a href="https://wenwen5.github.io/"><ruby>不<rp>(</rp><rt>首</rt><rp>)</rp>要<rp>(</rp><rt>页</rt><rp>)</rp></ruby></a></li>
					<li><a href="Article/article-index.html"><ruby>点<rp>(</rp><rt>文</rt><rp>)</rp>进<rp>(</rp><rt>章</rt><rp>)</rp></ruby></a></li>
					<li><a href="#"><ruby>这<rp>(</rp><rt>关</rt><rp>)</rp>个<rp>(</rp><rt>于</rt><rp>)</rp></ruby></a></li>
					<li><a href="#">网页</a></li>
					<li><a href="#">这里</a></li>
					<li><a href="#">什么</a></li>
					<li><a href="#">都没</a></li>
					<li><a href="#">有！</a></li>
				</ul>
			</nav>
		<main>
		</article>
	</body>

</html>

